{% assign post = include.post %}

<article class="blog">


  {% if site.blog.hero_layout == true %}
    {% include utils/hero.html %}
  {% endif %}

  <!-- Post title (& hero image) container -->
  <div class="
  {% if site.blog.hero_layout == true %}
    post-title-container
      {% if post.hero %}
        {{ post.url | remove: '/posts/' }} {{ post.url | remove: '/posts/' }}-container hero-hov
      {% endif %}
    {% else %}
    post-title-container-nohero
  {% endif %}
  ">

    <!-- Post title -->
  {% if site.blog.hero_layout == true %}
    <div class="heading-container {% if post.hero %}hero-heading hero-heading-blog{% endif %}">
  {% endif %}
      <h1>
        {% if post.link != nil %}
        <a href="{{ post.link }}" title="{{ post.title }}" title="{{ post.title }}" target="_blank">{{ post.title }}</a> &rarr;
        {% else %}
          <a href="{{ post.url | relative_url }}" title="{{ post.title }}">{{ post.title }}</a>
        {% endif %}
      </h1>
    <!-- Post meta -->
      <div class="
      {% if site.blog.hero_layout == true %}
        post-meta
      {% else %}
        post-meta-nohero
        {% endif %}
      ">

        <span>{{ post.date | date: '%Y-%m-%d' }}</span>

        {% if site.blog.hero_layout == false %}
        <span class="post-meta-link-nohero"><a href="{{ post.url | prepend:site.baseurl }}">&#9642;</a></span>
        {% endif %}

        <span>
          <span>Category: {{ post.categories[0] }}</span>
        </span>
      </div>

    {% if site.blog.hero_layout == true %}
    </div>
    {% endif %}

  </div>

  {% if site.blog.titles_only == false %}

    {% if site.blog.excerpts == true %}
      {{ post.excerpt }}
        <div class="readmore">
          <a href="{{ post.url | prepend:site.baseurl }}" role="button">Read more</a>
        <div>

    {% else if site.blog.excerpts == false %}
      {{ post.content | remove: '&lt;!–-break-–&gt;' }}
    {% endif %}

  {% endif %}


</article>
  <!-- Last post does not need a hr -->
{% if forloop.last == false %}
  <hr>
{% endif %}
